# CONTENT BASED MOVIE RECOMMENDATION SYSTEM

In [16]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [17]:
credits = pd.read_csv('tmdb_5000_credits.csv')
movies = pd.read_csv('tmdb_5000_movies.csv')

In [18]:
credits.head()

   movie_id  ...                                               crew
0     19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1       285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2    206647  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3     49026  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     49529  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 4 columns]

In [19]:
movies.head()

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500
2  245000000  ...       4466
3  250000000  ...       9106
4  260000000  ...       2124

[5 rows x 20 columns]

In [20]:
credits_df = credits.rename(index=str, columns={'movie_id':'id'})
movies_df = movies.merge(credits_df, on='id')
movies_df.head()

      budget  ...                                               crew
0  237000000  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1  300000000  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  245000000  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3  250000000  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4  260000000  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 23 columns]

In [21]:
movies_df.shape

(4803, 23)

In [22]:
movies_df = movies_df.drop(columns=['homepage','title_x','title_y','production_companies'])
movies_df.head()

      budget  ...                                               crew
0  237000000  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1  300000000  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  245000000  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3  250000000  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4  260000000  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 19 columns]

In [23]:
movies_df.shape

(4803, 19)

In [24]:
movies_df.head(1)['overview']

0    In the 22nd century, a paraplegic Marine is di...
Name: overview, dtype: object

In [25]:
from sklearn.feature_extraction.text import TfidfVectorizer
tvf = TfidfVectorizer(min_df = 3,max_features=None, strip_accents='unicode',analyzer='word',token_pattern=r'\w{1,}', ngram_range=(1,3),stop_words='english')

In [26]:
# fill nans with empty string
movies_df['overview'] = movies_df['overview'].fillna('')

In [27]:
#Fitting the overview text in TfidfVectorizer
tvf_matrix = tvf.fit_transform(movies_df['overview'])
tvf_matrix

<4803x10417 sparse matrix of type '<class 'numpy.float64'>'
	with 127220 stored elements in Compressed Sparse Row format>

In [28]:
tvf_matrix.shape

(4803, 10417)

In [29]:
from sklearn.metrics.pairwise import sigmoid_kernel
# Compute Sigmoid Kernel
sig = sigmoid_kernel(tvf_matrix,tvf_matrix)

In [30]:
sig[0]

array([0.76163447, 0.76159416, 0.76159416, ..., 0.76159416, 0.76159416,
       0.76159416])

In [31]:
# Reverse Mapping of indices and Movie title
indices = pd.Series(movies_df.index, index=movies_df['original_title']).drop_duplicates()
indices

original_title
Avatar                                         0
Pirates of the Caribbean: At World's End       1
Spectre                                        2
The Dark Knight Rises                          3
John Carter                                    4
                                            ...
El Mariachi                                 4798
Newlyweds                                   4799
Signed, Sealed, Delivered                   4800
Shanghai Calling                            4801
My Date with Drew                           4802
Length: 4803, dtype: int64

In [32]:
def give_rec(title,sig=sig):
  # Get the index corresponding to original title
  idx = indices[title]
  # Get the pairwise similarity scores
  sig_scores = list(enumerate(sig[idx]))
  # Sort the movies
  sig_scores = sorted(list(enumerate(sig[indices[title]])), key = lambda x:x[1], reverse = True)
  # Scores of the 10 most similar movies
  sig_scores = sig_scores[1:11]
  # movie indices
  movie_indices = [i[0] for i in sig_scores]
  # Top 10 most similar movies
  return movies_df['original_title'].iloc[movie_indices]

In [35]:
# Testing our recommendation system with the seminal film 'Avatar'
give_rec('John Carter')

1254                          Get Carter
4161         The Marine 4: Moving Target
2932                        Raising Cain
3349                           Desperado
1307                       The Hurricane
91          Independence Day: Resurgence
345                          Rush Hour 2
3068                         Rescue Dawn
4274    Eddie: The Sleepwalking Cannibal
581              Star Trek: Insurrection
Name: original_title, dtype: object